<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card-deck">
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Alunos</h5>
            <p class="card-text">Gerencie os alunos</p>
            <a href="/students" class="btn btn-primary">Acessar</a>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Professores</h5>
            <p class="card-text">Gerencie os professores</p>
            <a href="/teachers" class="btn btn-primary">Acessar</a>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Turmas</h5>
            <p class="card-text">Gerencie as turmas</p>
            <a href="/classes" class="btn btn-primary">Acessar</a>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Matérias</h5>
            <p class="card-text">Gerencia as matérias</p>
            <a href="/subjects" class="btn btn-primary">Acessar</a>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Relatórios</h5>
            <p class="card-text">Gere Relatórios</p>
            <a href="/reports" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
