<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Turma</h2>
      <div class="card-deck">
        <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title"><a href="/create-class">Criar Turma</a></h5>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title"><a href="/list-classes">Listar Turmas</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
