<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Professores</h2>
      <div class="card-deck">
        <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title"><a href="/create-teacher">Criar Professor</a></h5>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title"><a href="/list-teachers">Listar Professores</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
